* { 
    box-sizing: border-box;
}

body, ul, li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    margin: 0 0 50px;
}

/*body {
    font-size: 12px;
    font-family: ubuntu, helvetica, arial;
}*/

#header, #wrapper, #footer {
    position: absolute;
    width: 100%;
}

ul {
    list-style: none;
}

button {
    margin: 4px 2px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 3px;
}

button:hover {
    color: #ddd;
    background-color: black;
}

#header,
#footer {
    height: 40px;
    z-index: 2;
    display: flex;
    justify-content: center;
}

#header {
    background: #CD235C;
}

#footer {
    bottom: 0;
    margin-top: -50px;
    background: #04A404;
}

#wrapper {
    top: 40px;
    bottom: 40px;
    background: #ccc;
    word-wrap: break-word;
}

#elementToScroll {
    z-index: 1;
    text-align: left;
}

#elementToScroll > li {
    padding: 0 10px;
    line-height: 30px;
    left:0;
    right: 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}

/* styled-scroll scrollbars*/
.hide-scrollbar ::-webkit-scrollbar {
    display: none;
}

.styled-scroll-vertical-scrollbar {
    position: absolute; 
    z-index: 100; 
    width: 7px; 
    bottom: 2px; 
    top: 2px; 
    right: 1px; 
}

.styled-scroll-vertical-scrollbar.styled-scroll-both-scrollbars {
	bottom: 0;
}

.styled-scroll-thumb {
    z-index: 100;
    background: rgba(0,0,0,0.5);
    border:1px solid rgba(255,255,255,0.9);
    background-clip:padding-box;
    border-radius:3px;
    cursor: pointer;
}

.styled-scroll-thumb:hover { 
    border: 0;
}

.styled-scroll-vertical-scrollbar .styled-scroll-thumb {
	width: 100%;
}
