* { 
    box-sizing: border-box;
}

html {
    -ms-touch-action: none;
}

body, ul, li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-size: 12px;
    font-family: ubuntu, helvetica, arial;
}

#header,
#footer {
    position: absolute;
    height: 50px;
    width: 100%;
    left: 0;
    z-index: 2;
    color: #eee;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 45px;
}

#header {
    top: 0;
    background: #CD235C;
}

#footer {
    bottom: 0;
    background: #04A404;
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 50px;
    bottom: 50px;
    left: 0;
    width: 100%;
    background: #ccc;
    word-wrap: break-word;
}

#elementToScroll {
    width:100%;
    position: absolute;
    z-index: 1;
    list-style: none;
    text-align: left;
}

#elementToScroll > li {
    padding: 0 10px;
    line-height: 30px;
    left:0;
    right: 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}

/* styled-scroll scrollbars*/
.hide-scrollbar ::-webkit-scrollbar {
    display: none;
}

.styled-scroll-vertical-scrollbar {
    position: absolute; 
    z-index: 100; 
    width: 7px; 
    bottom: 2px; 
    top: 2px; 
    right: 1px; 
}

.styled-scroll-vertical-scrollbar.styled-scroll-both-scrollbars {
	bottom: 0;
}

.styled-scroll-thumb {
    z-index: 100;
    background: rgba(0,0,0,0.5);
    border:1px solid rgba(255,255,255,0.9);
    background-clip:padding-box;
    border-radius:3px;
    cursor: pointer;
}

.styled-scroll-thumb:hover { 
    border: 0;
}

.styled-scroll-vertical-scrollbar .styled-scroll-thumb {
	width: 100%;
}
