* { 
    box-sizing: border-box;
}

body, ul, li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    margin: 0 0 50px;
}

/*body {
    font-size: 12px;
    font-family: ubuntu, helvetica, arial;
}*/

#header, #wrapper, #footer {
    position: absolute;
    width: 100%;
}

ul {
    list-style: none;
}

button {
    margin: 4px 2px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 3px;
}

button:hover {
    color: #ddd;
    background-color: black;
}

#header,
#footer {
    height: 40px;
    display: flex;
    justify-content: center;
}

#header {
    background: #CD235C;
}

#footer {
    bottom: 0;
    margin-top: -50px;
    background: #04A404;
}

#wrapper {
    top: 40px;
    bottom: 40px;
    background: #ccc;
    word-wrap: break-word;
}

#elementToScroll {
    top:25px;
    left:25px; 
    text-align: left;
    height:90%;
    right: 10px; 
    position: absolute;
}

#elementToScroll > li {
    padding: 0 10px;
    line-height: 30px;
    left:0;
    right: 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}



#static-div {
    position: absolute; 
    width:350px; 
    top: 150px; 
    height:250px; 
    left: 0px; 
    background: lavender; 
    /*padding: 20px;*/
    border-color: #CD235C;
    border-style: dashed;
    border-width: 2px 4px 6px 8px;
}

#static-list {
    padding: 40px;
    height: 100%;
}




#border-div {
    position: absolute; 
    width: 400px; 
    top: 200px; 
    height: 300px; 
    left: 375px; 
    background: lightskyblue; 
    padding: 5px 5px 0 8px;
    border-color: teal;
    border-style: groove;
    border-width: 12px 9px 6px 6px;
}

#border-content {
    border-color: goldenrod;
    border-style: solid;
    border-width: 5px 13px 6px 8px;
    height: 80%;
    padding: 30px;
    top: 20px;
    margin: 15px 20px 0 10px;
}


#max-height-div {
    max-height: 850px;
    height: 50%;
    left: 900px;
    position: absolute; 
    width: 350px; 
    top: 150px; 
    /*bottom: 400px;*/
    background: cornsilk; 
    border: 20px solid grey
}

#max-height-content {
    max-height: 70%;
    padding: 5px;
}

/* styled-scroll scrollbars*/
/*.hide-scrollbar::-webkit-scrollbar {
    display: none;
}*/

::-webkit-scrollbar-track {
    z-index: 900;
    top: 2px;
    right: 0;
    bottom: 2px;
    width: 21px; 
    padding: 0px 2px;
    box-sizing: border-box;
    border: 4px double seagreen;
}

::-webkit-scrollbar-thumb {
    z-index: 900;
    background: rgba(0,0,0,0.5);
    border:1px solid rgba(255,255,255,0.9);
    background-clip: padding-box;
    border-radius:3px;
    cursor: pointer;
    top: 0px;
    bottom: 0px;
	width: 100%;
}

.styled-scroll-track {
    z-index: 900;
    top: 2px;
    right: 0;
    bottom: 2px;
    width: 21px; 
    padding: 0px 2px;
    box-sizing: border-box;
    border: 4px double seagreen;
}

.styled-scroll-thumb {
    z-index: 900;
    background: rgba(0,0,0,0.5);
    border:1px solid rgba(255,255,255,0.9);
    background-clip: padding-box;
    border-radius:3px;
    cursor: pointer;
    top: 0px;
    bottom: 0px;
	width: 100%;
}

.styled-scroll-thumb:active {
    background: rgba(0,0,0,1);
   
}

.styled-scroll-thumb:hover { 
    border: 0;
}

